{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">{{page_title}}</h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Products</a></li>
                                    <li class="breadcrumb-item active">{{active_page_name}}</li>
                                </ol>
                            </div><!--end col-->
                            <div class="col-auto align-self-center">
                                <a class="btn btn-success btn-sm text-white px-4 d-inline-block"  href="{% url 'web:create_career' %}" ><i class="mdi mdi-plus mr-2"></i>Add New</a>
                                <a href="{% url 'web:edit_career' pk=instance.pk %}" class="btn btn-primary btn-sm text-white px-4 d-inline-block" style="background: #12a4ed !important;border-color: #12a4ed !important;"><i class="mdi mdi-pen mr-2"></i>Edit</a>
                                <a data-id="{{ instance.pk }}" class="action-button remove redirect btn btn-primary btn-sm text-white px-4 d-inline-block"  href="{% url 'web:delete_career' pk=instance.pk %}" data-text="{{ confirm_delete_message }}" data-title="Are you sure?" style="background: #f5325c !important;border-color: #f5325c !important;"><i class="mdi mdi-trash-can-outline mr-2"></i>Delete</a>
                            </div><!--end col--> 
                        </div><!--end row-->                                                              
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->

            <!--product details row-->
            <div class="row">
                <div class="col-6">
                    

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{instance.title}}</h4>
                        </div><!--end card-header-->
                        <div class="card-body">
                            <p>Description : </p>
                            <p class="card-text text-muted">
                                {{instance.description}}
                            </p>
                            <p>Email : {{instance.email}}</p>
                        </div><!--end card -body-->
                    </div><!--end card--> 
                    
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div><!-- container -->
    </div>
    <!-- end page content -->
{% endblock content %}
        